.inactiveButton {
    display: inline-flex;
    padding: 8px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap:10px;
    border: 1px solid var(--black-700, #232323);
    backdrop-filter: blur(2px);
    background: transparent;
    cursor: default; /* Prevents interaction */



    border-radius: 12px;
border: 1px solid var(--additional-white-3, rgba(255, 255, 255, 0.03));
background: var(--additional-white-5, rgba(255, 255, 255, 0.05));
  }
  
  .icon {
    display: flex;
    align-items: center;
  }
  
  .text {
    color: var(--black-100, #D7D7D7);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
  }
  