.container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
border: 1px solid var(--additional-white-8);
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
  }
  
  .cardsContainer > * {
    flex: 1 1 calc(33.33% - 12px); /* Ensures three equal columns minus gap */
    max-width: calc(33.33% - 12px);
  }
  
  @media (max-width: 1024px) {
    .cardsContainer > * {
      flex: 1 1 calc(50% - 12px); /* Two columns on smaller screens */
      max-width: calc(50% - 12px);
    }
  }
  
  @media (max-width: 768px) {
    .cardsContainer > * {
      flex: 1 1 100%; /* Stacks in a single column */
      max-width: 100%;
    }
  }
  