.navbar {
display: flex;
justify-content: space-between;
align-items: center;
justify-content: space-between;
align-items: center;
padding-bottom: 20px;
  }

.navbar:after {
content: "";
position: absolute;
left: 0;
width: 100%;
height: 50px;
top: 80px;
pointer-events: none;
background: linear-gradient(to bottom, var(--background) 0%, rgba(15, 15, 15, 0.7)  50%,  rgba(15, 15, 15, 0) 100%);
}
  
  
  .left {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .right {
    display: flex;
    align-items: center;
    flex-direction:row;
    gap: 12px;
  }


  .dropdownContainer {
    position: relative;
  }
  
  .dropdownContainer > div {
    position: absolute;
    top: 120%; 
    /* right: 0; */
    z-index: 100; 
  }


:dir(ltr) .dropdownContainer > div {
  right: 0;
}

:dir(rtl) .dropdownContainer > div {
  left: 0;
}


.historyButton {
  position: relative; /* This is essential */
}


/* Responsive adjustments for small screens */
@media (max-width: 480px) {
  .dropdownContainer > div {
    max-width: 90vw; /* Uses viewport width on small screens */
  }
}
  /* Responsive Adjustments */
  @media (max-width: 768px) {
   
    .left {
      gap: 8px;
    }
  }
  
/* Medium (Tablets) */
@media (min-width: 1336px) {
  
  .historyButton {
      display:none
  }

}

