/* General Styling */
.responsePart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--card-background);
border: 1px solid var(--card-border);

}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #f8f8f8;
}

/* Analysis Summary - Show only 3 lines initially */
.analysisSummaryContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 

  color: var(--black-300, #929292);

/* Text S/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */

}

.analysisSummary {
  font-size: 14px;
  line-height: 1.4;
  color: #d1d1d1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
}

.analysisSummary.expanded {
  -webkit-line-clamp: unset;
}

/* List Styling - First 3 paragraphs visible by default */
.analysisList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.summaryList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text {
  color: var(--black-300, #929292);

  /* Text S/Regular */
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

/* Read More / Read Less Button */
.readMore {
  color: var(--Lime-400, #B1F625);
font-family: var(--font-family-inter);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
cursor: pointer;

}



.tag {
  width: 46px;  /* 2 × 23px */
  height: 46px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures nothing overflows outside the circle */
}


.analysisPartContainer{
  display:flex;
  flex-direction:column;
  gap:16px;
}

/* Medium (Tablets) */
@media (max-width: 768px) {

  
}

/* Small (Mobile) */
@media (max-width: 480px) {

.tag {
  width: 40px;  /* 2 × 23px */
  height: 40px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures nothing overflows outside the circle */
}

  
}



.summaryLabel {
  color: var(--black-50, #F8F8F8);

/* Text S/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
