.wrapper {
    display: flex;
    flex-direction: column;
    background:var(--card-background);
    border-radius:16px;
    padding:12px 16px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    border-bottom: 1px solid var(--card-background-light);
  }

  .row:last-child {
    border-bottom:none;
  }
  
  .cell {
    flex: 1; /* optional */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items:center; */
    padding:14px 16px;
   
  }
  
  .label {
    color: var(--black-400, #757575);
    /* Text S/Regular */

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
  
  .value {
    color: var(--black-50, #F8F8F8);
    /* Text M/Regular */
 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  