.secondaryH2 {
    color: var(--black-50, #F8F8F8);

/* H4/Medium */
font-family: var(--font-family-inter);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 26px */
letter-spacing: -0.4px;
  }

/* Small (Mobile) */
@media (max-width: 480px) {
    .secondaryH2 {  
    font-size: 18px;
  
    }
}

