/* If you want to hide the scroll bar completely */
.slideContainer::-webkit-scrollbar {
  display: none;
}
.slideContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slideContainer {
 
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow: hidden;
  width: 100%;
}

.conversationPair {
  flex: 1; /* Takes up all available space */
  overflow-y: auto; /* Enables scrolling for chat messages */
  width: 100%;
  position: relative;
}




.chatInput {
  position: fixed;
  bottom: 0;
  width: calc(100% - 40px);
  max-width: 796px;
  z-index: 10;
  /* height: 131px; */
  overscroll-behavior: auto;

  height: auto;
  padding-bottom: 20px;

}
.chatSpacer {
  height: 131px; /* default / fallback */
  transition: height 0.2s ease; /* optional */
  position:relative;
}


/* 
.chatSpacer::before {
  content: "";
  position: fixed;
   bottom: 130px; 
  left: 0;
  width: 100%;
  height: 80px; 
  pointer-events: none; 

  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0) 0%,
    rgba(15, 15, 15, 0.5) 50%,
    var(--background) 100%
  );
} */
/* 
.chatSpacer::before {
  content: "";
  position: absolute;
  z-index: 11;
  
  top: -79px;

  left: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0) 0%,
    rgba(15, 15, 15, 0.5) 50%,
    var(--background) 100%
  );
} */


.conversationPair::after {
  content: "";
  position: absolute;
  /* bottom: 130px; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px; /* Adjust the fading area */
  pointer-events: none; /* Ensures this does not block clicks */

  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0) 0%,
    rgba(15, 15, 15, 0.5) 50%,
    var(--background) 100%
  );
}

/* Small (Mobile) */
@media (max-width: 480px) {
  /* .chatInput,
  .chatSpacer {
    
     height: 101px; 
  } */
 
}

.scrollDownButton {
  position: fixed;
  bottom: 150px;
  width: 40px;
  z-index: 100;
  left: 50%; /* Position the left edge at 50% of the viewport */
  transform: translateX(-50%); /* Move it left by half its own width */
  cursor: pointer;
}

/* Small (Mobile) */
@media (max-width: 480px) {
  .scrollDownButton {
    bottom: 120px;
  }
}
