.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 16px;
border: 1px solid var(--card-border);
background: var(--additional-white-2, rgba(255, 255, 255, 0.02));
}

.upperSection {
    display: flex;
    flex-direction:row;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.upperLeft, .upperRight {
 
    border-radius: 8px;
}

.upperLeft {
    width: 36px;
height: 36px;
border-radius: 100px;
background: var(--black-800);
}

.upperRight {
    width: 30%;
height: 26px;

border-radius: 100px;
background: var(--black-800);
}

.lowerSection {
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap: 12px;
}



@media (max-width: 768px) {
    .lowerSection {
flex-direction:column;}
}
