.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
border:none;
color: var(--black-50, #F8F8F8);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%;
display: flex;
min-width: 52px;
height: 22px;
padding: 0px 15px;
justify-content: center;
align-items: center;
gap: 8px; 
border-radius: 100px;
cursor: pointer;

}

.active {
   border-radius:100px;
   background-color: var(--additional-white-8, rgba(255, 255, 255, 0.08));
}





/* Medium (Tablets) */
@media (max-width: 468) {
    .button {
   
        padding: 0px 12px;
    
        
        }
  }
  
  /* Small (Mobile) */
  @media (max-width: 380px) {
  
  
.button {
   
    padding: 0px 4px;

    
    }
}