.container {
  display: flex;

flex-direction: column;
justify-content: center;
align-items: flex-start;
/* gap: 12px; */
align-self: stretch;
  border-radius: 16px;
  background: var(--card-background);
  

  }
  
  .title {
 
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  

  .header {
    display:flex;
    gap:16px;
    flex-direction:column;
    padding: 32px 32px 0px 32px;
  }


  .dateFilter {
    display: flex;
height: 36px;
padding: 8px 16px;
align-items: center;
gap: 24px;
border-radius: 8px;
border: 1px solid var(--Black-800, #1A1A1A);
background: transparent;

  }
  
  .dateInput {
    color: var(--black-300, #929292);
    /* Text S/Regular */
   
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    background: transparent;
  }
/*   
  .dateInput label {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
  }
  


  
  .dateInput input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  }
   */


  .input {
    
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #333;
    outline: none;
    cursor: pointer;
  }



