
  .dropdownMenu {
    position: absolute;
    top: 120%; /* Positions the menu below the button */
    z-index: 100; /* Makes sure it appears above other elements */
    background: var(--black-800);
    border: 1px solid var(--black-700);
    border-radius: 12px;
    opacity: 0;
    transform: translateY(-10px); /* Smooth opening animation */
    pointer-events: none; /* Ensures it's not clickable when hidden */
    overflow:hidden;
  }
  
  /* When dropdown is open, make it visible */
  .dropdownMenu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
  
  .menuItem {
display: flex;
height: 42px;
padding: 10px 20px;
align-items: center;
align-self: stretch;
gap:6px;
  }
  
  .menuItem:hover {
    background: var(--black-600, #323232); /* Light hover effect */
  }


  .menuItem.active {
    background: var(--black-600, #323232); /* Light hover effect */
  }

  
  .label {
    color: var(--black-50, #F8F8F8);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
  