.container {
    display: flex;
    justify-content: center;
    gap: 10px;


}

.button {
border:none;
 color: var(--black-50, #F8F8F8);
text-align: center;
/* Text XS/Medium */

font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */
 display: flex;
width: 52px;
height: 22px;
padding: 0px 15px;
justify-content: center;
align-items: center;
gap: 8px; 
border-radius: 100px;

}

.active {
   border-radius:100px;
   background-color: var(--additional-white-8, rgba(255, 255, 255, 0.08));

}
