.dropdownButton {
display: inline-flex;
gap:8px;
height: 40px;
padding: 16px;
justify-content: flex-start;
align-items: center;
border-radius: 100px;
border: 1px solid var(--card-border);
background:transparent;
width:100%


  }
  
  .text {
    color: var(--black-50, #F8F8F8);
    text-align: center;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140); /* 19.6px */
  }

  .dropdownButton:hover {
    font-style: normal;
    border: 1px solid var(--additional-white-8, rgba(255, 255, 255, 0.08));
background: var(--black-800, #1A1A1A);


  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; /* Ensures consistent size */
    height: 20px;
  }
  
  .hidden {
    display: none; /* Hides missing icons */
  }
  

  .activeButton {
    background: var(--additional-white-8) !important;
    border: 1px solid var(--additional-white-8, rgba(255, 255, 255, 0.08));
;
  }


  .scrollDownButton {
    background: var(--black-900, #0F0F0F);
  }