.sendButton {
    display: flex;
    width: 27px;
    height: 27px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--black-50);
    border-radius: 90.91px;
    border: 0.91px solid;
    border-color: var(--additional-white-3);
}


.iconWrapper {
    display:flex;
    color: var(--background)
}

.sendButton:disabled {
    background: var(--black-500);
    cursor: not-allowed; /* Prevent clicks */
}

.isDesktop {
    width: 27px;
    height: 27px;
}

@media (max-width: 400px) {
    .sendButton {
        width: 27px;
  height: 27px;
  
    }
  
  }
  