.container {
    width: 100%;
  
    /* background-color: var(--card-background, #1a1a1a); */
    
    box-sizing: border-box;
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
 
    color: #fff;
  }
  

  .content {
    color: #ccc;
    font-size: 14px;
  }
  

  .buttonGroup {
    display: flex;
    flex-wrap: wrap; /* allows buttons to wrap to next line */
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .filterButton {
    display: flex;
    height: 32px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* prevent text from wrapping */
    color: var(--black-400, #757575);
    text-align: right;
    background: var(--card-background);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    border-radius: 100px;
    border: 1px solid var(--additional-white-5, rgba(255, 255, 255, 0.05));
    cursor: pointer;
  }
  
  .active {
    background: var(--card-background-light);

    color: var(--black-50, #F8F8F8);
    
  }


  .filterButton:hover {
    border-radius: 100px;
    background: var(--card-background-light);

color: var(--black-50, #F8F8F8);

/* Text S/Medium */



  }

