.container {
    display:flex;
    flex-direction:column;
    gap:16px;
  }
  
  .itemsContainer {
    display:flex;
    flex-direction:column;
    gap:12px;
  }
  
  .title {
    color: var(--black-50, #F8F8F8);
    /* Text L/Medium */

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
  }
  