.chartWrapper {
    position: relative;
    width: 100%;
 
  }
  
  .zeroLine {
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
   border-top:1px dashed #757575;
  }
  
  .scrollWrapper {
    overflow-x: auto;
    width: 100%;
    height: 100%;
  }
  
  .barContainer {
    display: flex;
    align-items: flex-end;
    height: 100%;
    gap: 8px; /* or dynamic in JS */
    flex-wrap: nowrap;
    padding:0 12px;
  }
  
  .barWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 32px; /* grow if possible, shrink to min 32px */
    height: 100%;
    max-width: 100%;
  }
  
  .bar {
    width: 100%;

    transition: height 0.3s;
  }
  
  .emptySpace {
    width: 100%;
    background: transparent;
  }
  
 



.valueLabel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 




  color: #FFF;


font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */


  white-space: nowrap; /* Prevent label text from wrapping */
  z-index: 2; /* Ensure label is above zero line and potentially bars */
  /* Optional background/padding for better readability */
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* padding: 1px 3px; */
  /* border-radius: 2px; */
  pointer-events: none; /* Prevent label from interfering with bar hover/tooltips */
}