.primaryInput {
    width: 100%;
    color: var(--black-500);
 
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.6px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    caret-color: var(--black-500); /* Ensures the caret is visible */
  }
  
  /* Placeholder Styling */
  .primaryInput::placeholder {
    color: var(--black-500);
    opacity: 1; /* Ensures placeholder is visible */
  }
  