.TerziaryH2 {
  
    /* Text L/Medium */
    color: var(--Black-50, #F8F8F8);

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
  }

/* Small (Mobile) */
@media (max-width: 480px) {
    .TerziaryH2 {  
    font-size: 16px;
  
    }
}

