.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 8px;
   
  }
  
  
  
  
  
  .iconButton {
    display: flex;
width: 32px;
height: 32px;
padding: 12px;
justify-content: center;
align-items: center;
gap: 4px;

border-radius: 100px;
border: 1px solid var(--additional-white-6, rgba(255, 255, 255, 0.06));
background: var(--additional-white-6, rgba(255, 255, 255, 0.06));
  }
  
