.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  
  .rightPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    width:100%;
  }

  .pageContent {
    flex: 1;
    overflow-y: auto;
  }
  
  .pageContent::-webkit-scrollbar {
    display: none;
  }
  .pageContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }