/* .legendContainer {
    position: relative;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    color: black;
}

.fixedPrice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
}

.currentPrice {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
} */

.legendContainer {
    position: relative;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-left: 1px solid #ccc; */
    padding: 5% 5px; /* Top and bottom padding to avoid overflow */
    font-size: 14px;
    color: black;
}

.fixedPrice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
    white-space: nowrap; /* Prevents text wrapping */
}

.currentPrice {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
}
