
    .container {
        display: flex;
      width: 100%;
      padding: 32px 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      border-radius: 12px;
      background: var(--card-background);
     height: auto;
     min-width: 440px;
     overflow: scroll;
     height:100%;
      }


      
      .listWrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;        /* space between items */
        width:100%;
      }
      

  .watchlistHeader {
    display: flex;
        flex-direction: row;
         align-items: center; 
        justify-content: space-between;
        width:100%;
        padding:0 12px;
  }

  .divideWrapper {
    padding: 0 12px;
    width:100%;
  }

.watchlistContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
  }
  
  .watchlistItem {
    border: 1px solid #ccc;
    border-radius: 6px;
    /* padding: 12px; */
 
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;

  }
  
  .ticker {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .name {
    color: #666;
  }
  
  .positiveChange {
    /* Text M/Regular */

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
    color: var(--Spring-Green-500, #1AED87);

    /* font-weight: bold; */
  }
  
  .negativeChange {
    /* Text M/Regular */

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
    color: var(--Pomegranate-500, #ED441A);

    /* font-weight: bold; */
  }
  



  .viewAll {
    color: var(--Black-300, #929292);
text-align: right;
/* Text XS/Regular */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 16.8px */
  }