.userMessage {

    color: var(--Black-400, #757575);
    max-width: 80%; /* ✅ Ensures it doesn’t exceed 80% of the container */
    padding: 8px 20px;
    /* H2/Medium */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 37.5px */
    letter-spacing: -0.6px;
    border-radius: 24px;
    background: var(--additional-white-5, rgba(255, 255, 255, 0.05));
    max-width:80%;
}

.userMessageOuter{
    display: flex;
    justify-content: flex-end; /* ✅ Moves the query box to the right */
    width: 100%; /* ✅ Ensures it takes full container width */
}







  
  


/* Medium (Tablets) */
@media (max-width: 768px) {

    .userMessage {
   
/* H3/Medium */

font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 32.5px */
letter-spacing: -0.52px;
    }
}

/* Small (Mobile) */
@media (max-width: 480px) {

    .userMessage {
        padding: 6px 12px;
        border-radius: 16px;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 23.4px */
    }


  
}

