

.assistantMessage {
    display: flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
border-radius: 16px;
border: 1px solid var(--additional-white-8, rgba(255, 255, 255, 0.08));
color: var(--black-300, #929292);

/* Text S/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.fullResponse {
    display:flex;
    flex-direction:column;
    gap:16px;
    padding-bottom: 40px;
}


  
  


/* Medium (Tablets) */
@media (max-width: 768px) {
  
}

/* Small (Mobile) */
@media (max-width: 480px) {
    .assistantMessage{

        display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;

    color: var(--Black-300, #929292);

    /* Text S/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    }


.fullResponse {
    display:flex;
    flex-direction:column;
    gap:12px;
}
}

