.assistantMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 16px;
   
    color: var(--black-50, #F8F8F8);
    font-family: var(--font-faimily-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  
  .fullResponse {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* padding-bottom: 40px; */
  }
  
  /* Medium (Tablets) */
  @media (max-width: 768px) {
  }
  
  /* Small (Mobile) */
  @media (max-width: 480px) {
    .assistantMessage {
      gap: 16px;
    }
  
    .fullResponse {
      gap: 12px;
    }
  }
  