.snapshot {

display: flex;
height: 80px;
padding: 20px 16px;
align-items: center;
gap: 8px;
flex-direction:row;
border-radius: 12px;
background-color: var(--card-background);
border: 1px solid var(--card-border);
width: auto;
cursor: pointer;
}




.snapshot:hover {
  border-radius: 12px;
border: 1px solid var(--additional-white-8, rgba(255, 255, 255, 0.08));

background: var(--black-800, #1A1A1A);

}




.iconWrapper {
  /* flex: 0 0 40px;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 32px;
  height: auto; /* Keeps aspect ratio */
}

.symbolContainer {
  flex: 1; /* Takes available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.symbol {
  color: var(--black-50, #F8F8F8);

  /* Text M/Medium */
  
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.symbolName {
  overflow: hidden;
color: var(--black-400, #757575);
text-overflow: ellipsis;

/* Text XS/Medium */

font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */

display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word; /* Ensures words wrap correctly */
  max-width: 100%; /* Prevents excessive stretching */
}





.priceContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price {
  color: var(--black-50, #F8F8F8);

  /* Text M/Medium */
  
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.change {
  

/* Text XS/Medium */

font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */
}

.positive {
  color: green;
}

.negative {
  color: var(--Pomegranate-500, #ED441A);
}

