.expandableDropdown {
width:420px;
    display: flex;
    max-width: calc(100vh - 40px);
flex-direction: column;
align-items: flex-start;
border-radius: 12px;
border: 1px solid var(--black-700, #232323);
background: var(--black-800, #1A1A1A);
overflow:hidden;
  }
  
  .dropdownItem {
    display: flex;
    flex-direction:column;
    align-items: center;
    align-self: stretch;
  
padding: 10px 16px 12px 20px;

align-items: flex-start; 
gap: 12px;

max-height: 42px;



border: 1px solid var(--black-700, #232323);
background: var(--black-800, #1A1A1A);
  }
  

  .dropdownItem:hover {
    background: var(--black-700, #232323)
  }

  .dropdownItem:last-child {
    border-bottom: none;
  }
  
  /* Header with text and expand icon */
  .header {
    width:100%;
    display: flex;
    /* height: 42px; */
    
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  
  }
  
  
  .label {
    color: var(--black-50, #F8F8F8);
    /* Text S/Regular */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140); /* 19.6px */
  }
  

  .icon {
    transition: transform 0.3s ease;
  }
  
  .content {
    color: var(--black-300, #929292);
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* Text S/Regular */
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-140); /* 19.6px */
  }
  
  .expanded {
    max-height: 600px; /* Adjust for content */
    opacity: 1;
    display: flex
;
    flex-direction: column;
    gap: 12px;
    
  }
  
/* 

@media (max-width: 480px) {
  .expandableDropdown {
    width: 90vw; 
   
  }
} */