.container {
    width: 100%;
    overflow: hidden; /* hides scrollbars leaking outside */
    overflow:visible;
    position:relative;
  }
  

 
/* This element fades the content behind it */
.bottom_fade {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, var(--background), rgba(255, 255, 255, 0));
  pointer-events: none;
  z-index: 10; /* ensure it overlays properly */
}



  .scrollArea {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 8px; /* space between buttons */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  
  .scrollArea::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
  
  
  .scrollArea::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollArea::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
.scrollWrapper {
    position: relative;
  }

  .fadeRight,
.fadeLeft {
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  pointer-events: none;
  transition: opacity 0.2s ease;
}


.fadeRight {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),var(--background));
}

.fadeLeft {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--background));
}