


.comparisonContainer {
    /* display: flex; */

    display: grid;
    grid-template-columns: 40% 20% 40%;

    padding: 16px;
    /* justify-content: space-between; */
    align-items: center;
    align-self: stretch;

    border-radius: 16px;
background: var(--additional-white-6, rgba(255, 255, 255, 0.06));
cursor: pointer;
  }


  .comparisonContainer:hover {
    border-radius: 16px;
background: linear-gradient(0deg, var(--additional-white-5, rgba(255, 255, 255, 0.05)) 0%, var(--additional-white-5, rgba(255, 255, 255, 0.05)) 100%), var(--additional-white-6, rgba(255, 255, 255, 0.06));
  }
  
  .tickerBox {
  
    width:140px;
    display: flex;
    justify-content: flex-start;
  }
  
  .vsCircle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
   
background: var(--black-700, #232323);

color: var(--black-50, #F8F8F8);

font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 19.6px */

    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  