/* .legendContainer {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    font-size: 14px;
    color: black;
}

.timePoint {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    color: gray;
} */

.legendContainer {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border-top: 1px solid #ccc; */
    padding: 0 5%; /* This adds space to the sides */
    font-size: 14px;
    color: black;
}

.timePoint {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    color: gray;
    white-space: nowrap; /* Prevents wrapping */
}
