.pairWrapper {
    width: 100%;
    height: calc(100vh - 151px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* User message stays on top */
    overflow: hidden; /* Prevents accidental scrolling switching messages */
    padding: 0;
    box-sizing: border-box;
    gap:24px;
    padding-bottom:100px;
  }
  

  .pair {
    display:flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto; /* Enables scrolling inside the response */
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }



  .pair::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}


  /* Inner scrolling container for assistant response */
  .assistantResponse {
    flex-grow: 1; /* Takes available space */
    
    /* max-height: calc(84vh - 80px); */
   
  }
  
  /* Hide scrollbar */
  .assistantResponse::-webkit-scrollbar {
    display: none;
  }
  .assistantResponse {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  



/* Medium (Tablets) */
@media (max-width: 768px) {
    .pairWrapper {
        
        gap:20px;
      }
}



@media (max-width: 480px) {
    .pairWrapper {
    height: calc(100vh - 121px);
    }
}