
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  display:flex;
  flex-direction:column;
  gap:16px;
  align-items: center;
}

.button {
  margin-top:8px;
}

.main > * {
  transform: translateY(-50px); /* Moves content up by 50px */
}