.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--card-background);
    background: var(--card-background);
    border: 1px solid var(--card-border);

  }
  
  .itemsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Ensures consistent spacing between items */
    width: 100%;
  }
  
  .goItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
   
  }
  



 

  .text {
    max-width:90%;
    color: var(--black-50, #F8F8F8);

    /* Text S/Regular */

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    cursor: pointer;
  }


  .goItem:hover .text {
    color: var(--lime-400, #B1F625);
    
   }

   
  
  .icon {
    cursor: pointer;
  }
  
  /* Ensures dividers do NOT add extra spacing */
  .dividerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  


/* Medium (Tablets) */
@media (max-width: 768px) {
  .text {

    color: var(--black-50, #F8F8F8);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */

  }
}

/* Small (Mobile) */
@media (max-width: 480px) {


.text {


    color: var(--black-50, #F8F8F8);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */

}
    .itemsContainer {
      
        gap: 12px; /* Ensures consistent spacing between items */
        
      }




.tag {
  width: 36px;  /* 2 × 23px */
  height: 36px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures nothing overflows outside the circle */
}
      
  
}








.title {
  font-size: 18px;
  font-weight: 600;
  color: #f8f8f8;
}

.tag {
  width: 46px;  /* 2 × 23px */
  height: 46px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures nothing overflows outside the circle */
}


.analysisPartContainer{
  display:flex;
  flex-direction:column;
  gap:16px;
}
