
.circledButton {
    background: #0F0F0F;
    display: flex;
    border-radius:100px;
width: 40px;
height: 40px;
padding: 7.2px;
justify-content: center;
align-items: center;
gap: 7.2px;
flex-shrink: 0;
cursor: pointer;
border: 1px solid rgba(255, 255, 255, 0.06);

  }

  .circledButton:hover {
    background: #222;
  }