.container {
  display: flex;
  padding: 16px 8px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;

  border-radius: 12px;
border: 1px solid #91dd0530;

/* background: var(--black-800, #1a1a1a); */
background: #101010;
cursor: pointer;

}
.suggestionLabel{
  color: var(--black-50, #F8F8F8);
/* Text S/Regular */
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */


}



.suggestionIcon {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  border: 1px solid rgba(255, 255, 255, 0.10);
  
  /* background: rgba(255, 255, 255, 0.04); */

  background: var(--black-800, #1a1a1a);
  
  backdrop-filter: blur(12px);
}

 