.buttonGroup {
  display: inline-flex;
    justify-content: space-between;

}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: var(--black-900); */
  gap: 16px;
  /* max-width:600px; */
}

/* Fixed at the bottom (classic chat scenario) */
/* .fixed {
  height: 100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 20px;
  overscroll-behavior: auto;
} */

.innerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 5px;
}

.form {
  width: 100%;
}

.inputForm {
  display: flex;
  gap: 16px;
}

.input {

  display: flex;
/* padding: 12px 14px 12px 16px; */
flex-direction: column;
align-items: center;
gap: 10px;
flex: 1 0 0;



color: var(--black-50, #f8f8f8);
background: transparent;

width: 100%;

  outline: none;
border: none;
  font-family: var(--font-family-inter);
  overflow-y: auto;
  max-height: calc(44px * 3);
  /* min-height: 44px;  */
  height: auto;

  box-sizing: border-box;
  resize: none;        
  overflow: hidden; 

  width:100%;
}

.microphoneIconWrapper {
  display:flex;
  padding-right: 10px;
  align-items:center;
  
}

.input:placeholder-shown {
  caret-color: var(--black-400, #757575);
}

.input::placeholder {
  color: var(--black-400, #757575);
  /* Text S/Regular */

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.promptButtons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}


.inputButtons {
  display: flex;
  flex-direction: row;
  align-items:center;
}

/* Medium (Tablets) */
@media (max-width: 838px) {
  .buttonGroup {
    gap: 14px;
  }

  .botHeading {
    margin-bottom: 4px;
  }

  .input,
  .input::placeholder {
    font-size: 26px;
    letter-spacing: -0.52px;
  }
}

/* Small (Mobile) */
@media (max-width: 480px) {
  .botHeading {
    margin-bottom: 0px;
  }
  .input,
  .input::placeholder {
    font-size: 18px;
    line-height: 130%; /* 23.4px */
  }


  .innerContainer {
   
    gap: 0px;
    
  }

}

.fixedButton {
  position: fixed; /* ✅ Fixes button in place */
  right: 20px; /* ✅ 20px from the right */
  bottom: 20px; /* ✅ 20px from the bottom */
}




.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  /* max-width:600px; */
  background: var(--black-800, #1A1A1A);


  padding: 12px 14px 12px 16px;

border-radius: 12px;

}



.sendButton {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}